/*arcadia:#00a591*/
@charset "UTF-8";
a {
    color: blue;
}
.banner {
background-color: mediumaquamarine;
height: 120px;
text-align: center;
cursor: pointer;
font-family: 'Dokdo', cursive;
color: teal;
font-size: 50pt;
padding-top: 24pt;
}
.bg1 { /* top background */ 
background-color: #009360;
height: 120px;
margin: 0px;
}
#ee {
cursor: wait;
}
.expectations {
padding-right: 20px;
font-family: 'Gaegu', cursive;
}
.gaming {
color: olivedrab;
}
.header {
text-align: center;
}
#hidden {
display:none;
}
.intro {
font-family: 'Skranji', cursive;
margin: auto;
border: 5px inset aquamarine;
border-radius: 25px;
text-align: center;
width: 150px;
background-color: forestgreen;
color: lime;
}
.intro-ee {
font-family: 'Skranji', cursive;
margin: auto;
border: 5px inset aquamarine;
border-radius: 25px;
text-align: center;
width: 250px;
background-color: forestgreen;
color: lime;
}
.lnk1 {
color: blue;
border-bottom: 1px solid blue;
padding-bottom: 1px;
}
.lnk2 {
color: blue;
border-bottom: 1px solid blue;
padding-bottom: 1px;
}
.main {
font-family: 'Quicksand', sans-serif;
margin: 0px 15px;
}
.maincoding {
font-family: 'Chakra Petch', sans-serif;
margin: 0px 15px;
}
.maingames {
font-family: 'Mina', sans-serif;
margin: 0px 15px;
}
.mainyt {
font-family: 'Gaegu', cursive;
margin: 0px 15px;
}
.margin {
height: 20px;
background-color: #009360;
margin-top: 80px;
}
#mbi1s, #mbi3s {
height: 65px;
background-color: #28a428;
width: 33.33%;
font-family: 'Jua', sans-serif;
transform: translate(0px,-10px);
padding-top:5px
}
#mbi2s {
height: 65px;
background-color:  #339933;
width: 33.33%;
font-family: 'Jua', sans-serif;
transform: translate(0px,-10px);
color: white;
padding-top:5px;    
}
.menubar {
background-color: #00a591;
height: 20px;
width: 33.33%;
float: left;
}
.menubar-item {
height: 60px;
background-color: #2db92d;
bottom: 0px;
width: 33.33%;
float: left;
font-family: 'Jua', sans-serif;
text-align: center;
cursor: pointer;
}
.menubar-item:hover {
height: 65px;
background-color: #28a428;
width: 33.33%;
font-family: 'Jua', sans-serif;
transform: translate(0px,-10px);
padding-top:5px
}
.midmenubar-item {
height: 60px;
background-color: green;
bottom: 0px;
width: 33.33%;
float: left;
font-family: 'Jua', sans-serif;
color: white;
text-align: center;
cursor: pointer;
}
.midmenubar-item:hover {
height: 65px;
background-color:  #339933;
width: 33.33%;
font-family: 'Jua', sans-serif;
transform: translate(0px,-10px);
color: white;
padding-top:5px;
}
::-moz-selection {
background: #8cba8c;
}
::selection {
background: #8cba8c;
}
table, th, td {
border: 5px outset teal;
border-radius: 25px;
text-align: center;
margin: auto;
padding-left: 5px;
padding-right: 5px;
}
